//global styles

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.general-btn {
  background-color: $success;
  color: $light;
  border: 2px solid black;
  border-radius: 8px;

  &:hover {
    color: $dark;
    background-color: lighten($success, 15%);
  }
}

//grey section splitter line
.section-splitter {
  width: 100%;
  height: 2px;
  background-color: $info;
  margin: 50px 0;
}
