/* variables */

//colors
$primary: #0060a5;
$secondary: #a5b6e2;
$info: #d3d3d3;
$success: #5e91c8; // background for the buttons
$star: rgb(232, 209, 0);

//fonts
$montserrat: "Montserrat", serif; // for headers/titles
$poppins: "Poppins", serif; //for paragraphs/info
